body {
  font-family: "Montserrat", sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 3px solid #dadde1;
  border-radius: 5px;
  text-decoration: none;
}

h1 {
  color: #202124;
  font-size: 35px;
  line-height: 26px;
  font-weight: lighter;
}

.weatherTempLink .activeLink {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weatherTempLink .activeLink:hover {
  text-decoration: none;
}

.forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.forecast-date {
  font-size: 15px;
  opacity: 0.5;
}

.forecast-temp {
  opacity: 0.5;
}

.overview {
  text-align: left;
}

.cityFormat {
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
}
.cityCountry {
  text-align: center;
  font-size: 23px;
  font-weight: bolder;
}

.dateFormat {
  text-align: center;
}

.infoFormat {
  float: left;
  padding-top: 40px;
}

.IconTempFormat {
  text-decoration: none;
  float: right;
  font-size: 23px;
}
.descriptionFormat {
  text-transform: capitalize;
}

.wapper {
  padding: 30px;
}

.searchFormFormat {
  padding-top: 15px;

  text-align: left;
  text-decoration: none;
}

.forematDatesForecast {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

input {
  border-radius: 5px;
  border: 1px solid black;
  background: #1a64d6;
  color: black;
  font-size: 16px;
  line-height: 22px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
  background: white;
}

input:hover {
  color: black;
  border: 1px solid;
}

placeholder {
  color: white;
}

button {
  border-radius: 25px;
  border: 1px solid #1a64d6;
  background: #1a64d6;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 10px;
}
button:hover {
  background: white;
  color: #1a64d6;
  border: 1px solid #1a64d6;
}

.linkFormat {
  text-align: center;
  font-size: 15px;
  margin: 0 auto;
  display: block;
}

.forecast-temp-low {
  opacity: 0.5;
}
